<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-3</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template Start -->
            <div class="template-wrapper" id="birthday-temp-3"
                style="background-image: url(../assets/images/back-bg-17.jpg);">
                <!-- Template Header -->
                <div id="temp-header" class="birthday-temp-header-thumbs">
                    <div id="birthday-title" class="selectable">
                        <h1 class="stroked-light selectable" contenteditable="true" data-options="editOptions">జన్మదిన
                            శుభాకాంక్షలు</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="birthday-main-photo mask">
                        <img id="main-photo" src="../assets/images/birthday-main-1.png" alt="" class="selectable">
                        <input name="photo" type="file" accept="image/*"
                            onchange="document.getElementById('main-photo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <h1 class="wisher special-2 selectable selectable" contenteditable="true"
                        data-options="editOptions"><span>శ్రీ </span> వేగేశ్న సూర్యనారాయణ రాజు
                        <span>(కనకరాజు సూరి) గారు</span>
                    </h1>
                    <p class="wishes selectable stroked-dark-minimal" contenteditable="true" data-options="editOptions">
                        మాకు అత్యంత ఆప్తులు, శ్రేయోభిలాషి రాష్ట్ర క్షత్రియ
                        కార్పోరేషన్ చైర్మన్
                    </p>
                    <h4 class="stroked-light selectable" contenteditable="true" data-options="editOptions">శ్రీ వేగేశ్న
                        సూర్యనారాయణ
                        రాజు (కనకరాజు సూరి) గారికి</h4>
                    <p class=" wishes selectable stroked-dark-minimal" contenteditable="true"
                        data-options="editOptions">మా హృదయ పూర్వక జన్మదిన శుభాకాంక్షలు</p>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="birthday-footer-photo mask">
                        <img id="promotor-photo" src="../assets/images/namaste-dummy.png" alt="" class="selectable">
                        <input name="photo" type="file" accept="image/*"
                            onchange="document.getElementById('promotor-photo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>

                    <h1 class="who-wished selectable" contenteditable="true" data-options="editOptions">పోలిశెట్టి
                        శ్రీనివాస్</h1>
                    <p class="recognition selectable color-white" contenteditable="true" data-options="editOptions">
                        జనసేన నాయకులు, నరసాపురం</p>
                </div>
            </div>
            <!-- Birthday Template End -->

        </div>
    </body>

</html>