<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-1</title>

        <link rel="stylesheet" href="/assets/css/greeting-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template Start -->
            <div class="template-wrapper" id="greetings-template-1"
                style="background-image: url(../../assets/images/back-bg-21.jpg);">

                <!-- Template Header -->
                <div id="temp-header" class="d-flex-col">
                    <div class="headTitlesSection">
                        <h1 class="mainTitle selectable" contenteditable="true" data-options="editOptions">
                            బాలల దినోత్సవ శుభాకాంక్షలు</h1>
                        <div class="imgHolder selectable absPosition">
                            <img id="school-logo" src="../../assets/images/flower8.png" alt="" />
                            <input name="school-logo" type="file" accept="image/*"
                                onchange="document.getElementById('school-logo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h2 class="subTitle selectable" contenteditable="true" data-options="editOptions">Vivekananda
                            Global School</h2>
                        <h3 class="thirdLevel selectable" contenteditable="true" data-options="editOptions">(Affliated
                            to
                            CBSE, New Delhi Aff.No.-130505)</h3>
                        <h4 class="fourthLevel selectable" contenteditable="true" data-options="editOptions">Tanuku,
                            West
                            Godavari District, Ph:08819-241450/51, 9642511811</h4>
                        <h5 class="fifthLevel selectable" contenteditable="true" data-options="editOptions"><i
                                class="email"></i> vgs.sksd@gmail.com <i class="email"></i>
                            admission@vivekanandahighschool.ac.in, vivekanandahighschool.ac.in</h5>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body" class="school-theme">
                    <div class="themeBehind">
                        <div class="imgHolder selectable schoolTheme">
                            <img id="school-theme" src="../../assets/images/vvk-global-school.jpg" alt="" />
                            <input name="school-theme" type="file" accept="image/*"
                                onchange="document.getElementById('school-theme').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="principal">
                            <div class="imgHolder selectable">
                                <img id="founder" src="../../assets/images/replacable-photo.jpg" alt="" />
                                <input name="founder" type="file" accept="image/*"
                                    onchange="document.getElementById('founder').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="titleWithBg">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Sri Chitturi Subba Rao</h2>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">Founder S.K.S.D
                                    Group of Educational Institutions-Tanuku</h5>
                            </div>
                        </div>
                        <div class="principal">
                            <div class="imgHolder selectable">
                                <img id="correspondent" src="../../assets/images/replacable-photo.jpg" alt="" />
                                <input name="correspondent" type="file" accept="image/*"
                                    onchange="document.getElementById('correspondent').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="titleWithBg">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Smt.Chitturi Surya Usha Rani</h2>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">Correspondent
                                </h5>
                            </div>
                        </div>
                    </div>

                    <p class="article-story selectable" contenteditable="true" data-options="editOptions">Vivekananda
                        Global School focuses on igniting the unique Talent and Skills of the Student at very early
                        stages to instil them a habit of winning and brings all round development among the young
                        children</p>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="school-footer">
                        <div class="school-stamp">
                            <div class="imgHolder selectable">
                                <img id="stamp" src="../../assets/images/dummy-stamp.png" alt="" />
                                <input name="stamp" type="file" accept="image/*"
                                    onchange="document.getElementById('stamp').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">CBSC <span>Tanuku
                                    Town</span></h1>
                        </div>

                        <div class="cardsRow">
                            <div class="class-room">
                                <div class="imgHolder selectable">
                                    <img id="class-1" src="../../assets/images/vvk-global-school.jpg" alt="" />
                                    <input name="class1" type="file" accept="image/*"
                                        onchange="document.getElementById('class-1').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఉమెన్స్ కాలేజీ
                                    దగ్గర, తణుకు, 08819-241450, 241451, సెల్: 96425 11811</p>
                            </div>
                            <div class="class-room">
                                <div class="imgHolder selectable">
                                    <img id="class-1" src="../../assets/images/vvk-global-school.jpg" alt="" />
                                    <input name="class1" type="file" accept="image/*"
                                        onchange="document.getElementById('class-1').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఉమెన్స్ కాలేజీ
                                    దగ్గర, తణుకు, 08819-241450, 241451, సెల్: 96425 11811</p>
                            </div>
                            <div class="class-room">
                                <div class="imgHolder selectable">
                                    <img id="class-1" src="../../assets/images/vvk-global-school.jpg" alt="" />
                                    <input name="class1" type="file" accept="image/*"
                                        onchange="document.getElementById('class-1').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఉమెన్స్ కాలేజీ
                                    దగ్గర, తణుకు, 08819-241450, 241451, సెల్: 96425 11811</p>
                            </div>
                            <div class="class-room">
                                <div class="imgHolder selectable">
                                    <img id="class-1" src="../../assets/images/vvk-global-school.jpg" alt="" />
                                    <input name="class1" type="file" accept="image/*"
                                        onchange="document.getElementById('class-1').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఉమెన్స్ కాలేజీ
                                    దగ్గర, తణుకు, 08819-241450, 241451, సెల్: 96425 11811</p>
                            </div>
                            <div class="class-room">
                                <div class="imgHolder selectable">
                                    <img id="class-1" src="../../assets/images/vvk-global-school.jpg" alt="" />
                                    <input name="class1" type="file" accept="image/*"
                                        onchange="document.getElementById('class-1').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఉమెన్స్ కాలేజీ
                                    దగ్గర, తణుకు, 08819-241450, 241451, సెల్: 96425 11811</p>
                            </div>
                            <div class="class-room">
                                <div class="imgHolder selectable">
                                    <img id="class-1" src="../../assets/images/vvk-global-school.jpg" alt="" />
                                    <input name="class1" type="file" accept="image/*"
                                        onchange="document.getElementById('class-1').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఉమెన్స్ కాలేజీ
                                    దగ్గర, తణుకు, 08819-241450, 241451, సెల్: 96425 11811</p>
                            </div>
                        </div>
                        <p class="footBottomTxt selectable" contenteditable="true" data-options="editOptions">IIT
                            Foundation Classes from Grade 6th to 10th with Qualified, Dedicated and Inspiring Faculty
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>