<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-1</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Obituary Template Start -->
            <div class="template-wrapper" id="obituary-temp-1"
                style="background-image: url(../../assets/images/back-bg-20.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="spl-obt-title">
                        <h1 contenteditable="true" class="selectable stroked-light" data-options="editOptions">
                            శ్రద్ధాంజలి</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obit-photo-flowered">
                        <img src="../../assets/images/obit-man-photo.png" id="obit-photo" alt="">
                        <input name="photo" type="file" accept="image/*"
                            onchange="document.getElementById('obit-photo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>

                    <h1 class="wisher special selectable mt-3" contenteditable="true" data-options="editOptions">
                        <span>కీ,, శే,,</span> కొత్తల తవిటి నాయుడు
                        <span>గారు</span>
                    </h1>
                    <h3 class="selectable" contenteditable="true" data-options="editOptions">సర్పంచ్, పి. లింగాల వలస
                        గ్రామం</h3>
                    <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">జననం: 16-08-1969,
                        మరణం:
                        08-11-2024</h3>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="cardStyleFooter">
                        <h1 contenteditable="true" class="heading selectable" data-options="editOptions">దివికేగిన మీ
                            పవిత్ర ఆత్మకు శాంతి చేకూరాలని భగవంతుని ప్రార్థిస్తూ..<br>
                            శోకతప్త హృదయాలతో..
                        </h1>
                        <div class="cardType">
                            <h3 contenteditable="true" class="selectable" data-options="editOptions">
                                <span contenteditable="true" class="selectable" data-options="editOptions">భార్య:</span>
                                కొత్తల మంగమ్మ
                            </h3>
                            <h3 contenteditable="true" class="selectable" data-options="editOptions">
                                <span contenteditable="true" class="selectable"
                                    data-options="editOptions">కుమారులు:</span> K. మధు, K.
                                దినేష్
                            </h3>
                            <h3 contenteditable="true" class="selectable" data-options="editOptions">
                                <span contenteditable="true" class="selectable" data-options="editOptions">కుమార్తె -
                                    అల్లుడు:</span><br> మార్పిని భారతి - రాకేష్
                            </h3>
                            <h5 contenteditable="true" class="selectable" data-options="editOptions">మరియు
                                కుటుంభ సభ్యులు.. బంధుమిత్రులు</h5>
                        </div>
                        <h4 contenteditable="true" class="bgLabel selectable" data-options="editOptions">పెద్దకర్మ</h4>
                        <h2 contenteditable="true" class="conclude selectable" data-options="editOptions">తేదీ:
                            <b>20-11-2024</b>
                            బుధవారం <span contenteditable="true" class="selectable" data-options="editOptions">పి.
                                లింగాలవలస గ్రామంలో మా స్వగృహమునందు జరుగును</span>
                        </h2>
                    </div>
                </div>
            </div>
            <!-- Birthday Template End -->

        </div>
    </body>

</html>