<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-2</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Obituary Template-2 Start -->
            <div class="template-wrapper" id="obituary-temp-2"
                style="background-image: url(../../assets/images/back-bg-3.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="spl-obt-title">
                        <h1 contenteditable="true" class="selectable" data-options="editOptions">
                            అమృతమూర్తికి అశ్రునివాళి</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="photoTitle">
                        <div class="imgHolder mask">
                            <img src="../../assets/images/man-photo-4.png" id="user-photo" alt="">
                            <input name="user" type="file" accept="image/*"
                                onchange="document.getElementById('user-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ,, శే,,</span> గట్టేం రాములు
                            <span>గారు</span>
                        </h1>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">మాజీ సర్పంచ్, అరిణాం
                            అక్కివలస ఎచ్చెర్ల నియోజకవర్గ టిడిపి సీనియర్ నాయకులు</h3>
                        <div class="d-flex-row">
                            <p class="selectable jananam" contenteditable="true" data-options="editOptions">జననం:
                                10-05-1953
                            </p>
                            <p class="selectable maranam" contenteditable="true" data-options="editOptions">మరణం:
                                21-11-2024
                            </p>
                        </div>
                        <p class="selectable content" contenteditable="true" data-options="editOptions">ఆప్యాయతానురాగాలు
                            పంచిన ఆదర్శమూర్తిగా, సర్పంచ్గా, గ్రామ అభివృద్ధికి కృషిచేసి అందరి మన్ననలు పొంది కుటుంబ
                            శ్రేయస్సు కోసం అహర్నిశలు శ్రమించిన మీ ఆకస్మిక మరణం మాకు తీరని లోటు.</p>
                        <p class="selectable wish" contenteditable="true" data-options="editOptions">మీ పవిత్ర ఆత్మకు
                            శాంతి చేకూరాలని ఆ భగవంతుని ప్రార్థిస్తూ...</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wishers-footer">
                        <div class="contentColumn">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>భార్య</span>
                                గట్టెం జయలక్ష్మి
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మనుమరాలు - మనుమడు</span>
                                షాలిని-హేమంత్
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మనుమలు - మనుమరాలు</span>
                                విజయక్రిష్ణ - శార్వాణి <br> సిద్దార్థ - జ్యోత్స్న
                            </h3>
                        </div>
                        <div class="contentColumn">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమారులు - కోడలు</span>
                                గట్టెం వెంకట సత్య శివరాం - హేమలత <br> గట్టెం హరిబాబు
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>అన్నయ్యలు - వదినలు</span>
                                గట్టెం సత్యనారాయణ (లేట్)- రమణమ్మ మాజీ సర్పంచ్ <br> గట్టెం అప్పారావు - తవిటమ్మ
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమార్తెలు - అల్లుళ్లు</span>
                                పోలం జ్యోతి - వెంకటరావు <br> రొక్కం గుణాదేవి శ్రీధర్
                            </h3>
                        </div>
                        <p class="selectable remained" contenteditable="true" data-options="editOptions">మరియు
                            అక్కాచెల్లెళ్లు,
                            మేనల్లుళ్లు, తోటి అల్లుళ్లు మరియు బంధుమిత్రులు</p>
                    </div>
                    <div class="d-flex-row">
                        <div class="labeledText">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">పెద్దకర్మ</h1>
                            <p class="selectable" contenteditable="true" data-options="editOptions">తేది: 02-12-2024న
                                సోమవారం నాడు అరిణాం అన్నసమారాధన అక్కివలస గ్రామంలో మా స్వగృహమునందు జరుపబడును.</p>
                        </div>
                        <div class="labeledText">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">అన్నసమారాధన</h1>
                            <p class="selectable" contenteditable="true" data-options="editOptions">తేది: 04-12-2024న
                                బుధవారం మధ్యాహ్నం 12 గం.ల నుండి అరిణాం అక్కివలస గ్రామంలో మా స్వగృహమునందు జరుగును.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Obituary Template-2 End -->

        </div>
    </body>

</html>