<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-1</title>

        <link rel="stylesheet" href="/assets/css/promotion-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template Start -->
            <div class="template-wrapper" id="promotion-template-1"
                style="background-image: url(../../assets/images/back-bg-9.jpg);">
                <!-- Template Header -->
                <div id="temp-header" class="d-flex-col">
                    <div class="imgHolder fullWidth">
                        <img id="top-garland" src="../../assets/images/top-decor-5.png" alt="" />
                        <input name="top-garland" type="file" accept="image/*"
                            onchange="document.getElementById('top-garland').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <h3 class="promoHeading-3 selectable" contenteditable="true" data-options="editOptions">
                        25<span>వ</span>
                        వార్షికోత్సవ సందర్భంగా</h3>
                    <h2 class="promoHeading-2 selectable" contenteditable="true" data-options="editOptions">బంగారం
                        చరిత్రలో సంచలనం</h2>
                    <h1 class="promoHeading-1 selectable" contenteditable="true" data-options="editOptions">
                        Silver Jubilee Offer</h1>
                    <h4 class="promoHeading-4 withBg selectable" contenteditable="true" data-options="editOptions">
                        కొత్త సంవత్సరం & సంక్రాంతి శుభాకాంక్షలతో</h4>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body" class="d-flex-row">
                    <div class="adTexts">
                        <p class="para-1 selectable" contenteditable="true" data-options="editOptions">
                            (91.6) 22kt</p>
                        <p class="para-2 selectable" contenteditable="true" data-options="editOptions">
                            బంగారు ఆభరణాలపై</p>
                        <p class="para-3 selectable" contenteditable="true" data-options="editOptions">
                            (Exchange) <span>పాత బంగారం పైనా</span></p>
                        <h1 class="offerHeading-1 selectable" contenteditable="true" data-options="editOptions">
                            4.9<em>%</em> <span>(VA) తరుగుకే</span></h1>
                        <p class="termsLabel selectable" contenteditable="true" data-options="editOptions">8 గ్రా|| పైన
                            ఆభరణాలకు మాత్రమే వర్తిస్తుంది. క్యాష్-ఈ-ట్రాన్స్ఫర్ పైనా 2.9% అదనం.</p>
                        <h2 class="offerHeading-2 selectable" contenteditable="true" data-options="editOptions">
                            సిల్వర్ ఆర్టికల్స్ పై</h2>
                        <p class="para-1 telugu selectable" contenteditable="true" data-options="editOptions">సాధారణ
                            వెండి
                            వస్తువులు KG కొనుగోలు పైనా <span>10,000/-</span> తగ్గింపు</p>
                        <p class="paraOffer selectable" contenteditable="true" data-options="editOptions">
                            <span>No</span> తరుగు మజూరీ
                        </p>
                    </div>
                    <div class="adBanner">
                        <div class="imgHolder modal-img mask">
                            <img id="modal-photo" src="../../assets/images/modal-with-jewellery-2.png" alt="" />
                            <input name="modal" type="file" accept="image/*"
                                onchange="document.getElementById('modal-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="imgHolder stamp-img">
                            <img id="stamp" src="../../assets/images/stamp.jpg" alt="" />
                            <input name="stamp" type="file" accept="image/*"
                                onchange="document.getElementById('stamp').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="footLogo">
                        <div class="imgHolder stamp-img">
                            <img id="naidu-logo" src="../../assets/images/naidu-logo.jpg" alt="" />
                            <input name="nlogo" type="file" accept="image/*"
                                onchange="document.getElementById('naidu-logo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="logoText selectable" contenteditable="true" data-options="editOptions">నాయుడు
                            జ్యూయలర్స్</h1>
                    </div>
                    <p class="address selectable" contenteditable="true" data-options="editOptions">మెయిన్ రోడ్,
                        నర్సీపట్నం.</p>
                    <p class="contact selectable" contenteditable="true" data-options="editOptions">Contact No : 08932
                        225510</p>
                </div>
            </div>
        </div>
    </body>

</html>