<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-1</title>

        <link rel="stylesheet" href="/assets/css/promotion-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template-2 Start -->
            <div class="template-wrapper" id="promotion-template-2"
                style="background-image: url(../../assets/images/back-bg-light.jpg);">
                <!-- Template Header -->
                <div id="temp-header" class="d-flex-col ajaraHospitals">
                    <div class="imgHolder hospitalLogo selectable">
                        <img id="brand-logo" src="../../assets/images/ajara_hospitals_logo.png" alt="" />
                        <input name="brand" type="file" accept="image/*"
                            onchange="document.getElementById('brand-logo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <h1 class="ajaraMain selectable" contenteditable="true" data-options="editOptions">
                        ప్రివెంటివ్ హెల్త్ చెకప్స్</h1>
                    <h3 class="ajaraSub selectable" contenteditable="true" data-options="editOptions"><span>5వ
                            వార్షికోత్సవ</span> ప్రత్యేక ఆఫర్లు!</h3>
                    <h5 class="ajaraSubThirdLevel selectable" contenteditable="true" data-options="editOptions">డిసెంబర్
                        2024 9నుండి 21 వరకు</h5>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="ajaraListBody">
                        <p class="ajaraListHead selectable" contenteditable="true" data-options="editOptions">
                            కంప్లీట్ బాడీ చెకప్ మహిళలకు - పురుషులకు</p>
                        <ul>
                            <li class="selectable" contenteditable="true" data-options="editOptions">CBP
                                (16)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">ESR
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">Blood
                                Grouping (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">CUE
                                (10)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">FBS
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">PLBS
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">HbAlc
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">CRP
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">CRP
                                (1)+LFT (10)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">DET
                                (6)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">Lipid
                                Profile (5)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">Serum
                                Calcium (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">Serum
                                Uric Acid (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                Thyroid Profile (3)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                Vitamin-D (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">AEC
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">Serum
                                Amalyseylase (2)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">Serum
                                Lipases (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">HIV
                                Rapid (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">HbsAg
                                Rapid (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">ECG
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">2D
                                Echo (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">TMT
                                (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                Ultrasound Abdomen (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">X-Ray
                                Chest PA View (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                Spirometry (1)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">PAP
                                Smear (Female)</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                ఫిజిషియన్ కన్సల్టేషన్</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                డైటీషియన్ కన్సల్టేషన్</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                కార్డియాలజిస్ట్ కన్సల్టేషన్</li>
                            <li class="selectable" contenteditable="true" data-options="editOptions">
                                గైనకాలజిప్ట్ కన్సల్టేషన్</li>
                        </ul>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="ajaraFooter">
                        <div class="offers">
                            <h4 class="selectable" contenteditable="true" data-options="editOptions">30 పరీక్షలు</h4>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>60%</span>
                                డిస్కౌంట్</h1>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">17420/</h3>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">6999/-</h2>
                        </div>
                        <p class="address selectable" contenteditable="true" data-options="editOptions">అజర హాస్పిటల్స్,
                            ములుగు రోడ్, హన్మకొండ.</p>
                        <p class="contact selectable" contenteditable="true" data-options="editOptions">9391009701/02
                        </p>
                        <p class="whatsapp selectable" contenteditable="true" data-options="editOptions">క్లిక్ చేసి HI
                            అని మెసేజ్ చేయండి
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>