<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-1</title>

        <link rel="stylesheet" href="/assets/css/inauguration-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template Start -->
            <div class="template-wrapper" id="inauguration-temp-1"
                style="background-image: url(../../assets/images/back-bg-18.jpg);">
                <!-- Template Header -->
                <div id="temp-header" class="d-flex-row negativeTop">
                    <div class="show-in-row headerRow">
                        <div class="guestCard">
                            <h4 class="paraWithBg selectable" contenteditable="true" data-options="editOptions">
                                ప్రారంభకులు
                            </h4>
                            <div class="imgHolder selectable">
                                <img id="guest-1" src="../../assets/images/namaste-dummy.png" alt="" />
                                <input name="guest" type="file" accept="image/*"
                                    onchange="document.getElementById('guest-1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h2 class="heading-2 selectable stroked-light" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> ఆదిరెడ్డి శ్రీనివాస్ <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                ఎమ్మెల్యే,
                                రాజమహేంద్రవరం సిటీ</p>
                        </div>

                        <div class="guestCard middleLogo">
                            <div class="imgHolder selectable">
                                <img id="brand-logo" src="../../assets/images/krishba-grand-logo.png" alt="" />
                                <input name="brand" type="file" accept="image/*"
                                    onchange="document.getElementById('brand-logo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h2 class="heading-1 withBg selectable" contenteditable="true" data-options="editOptions">
                                ది. 15-12-2024 <span>ఆదివారం ఉదయం గం|| 10:15 ని|| లకు...</span>
                            </h2>
                        </div>

                        <div class="guestCard">
                            <h4 class="paraWithBg selectable" contenteditable="true" data-options="editOptions">2వ
                                ఫ్లోర్
                                ప్రారంభకులు
                            </h4>
                            <div class="imgHolder selectable">
                                <img id="guest-2" src="../../assets/images/man-photo-3.png" alt="" />
                                <input name="guest2" type="file" accept="image/*"
                                    onchange="document.getElementById('guest-2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h2 class="heading-2 selectable stroked-light" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> జక్కంపూడి రాజా <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                ఎమ్మెల్యే,
                                రాజమహేంద్రవరం సిటీ</p>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body" class="d-flex-row">
                    <div class="show-in-row">
                        <div class="guestCard">
                            <h4 class="paraWithBg selectable" contenteditable="true" data-options="editOptions">3వ
                                ఫ్లోర్
                                ప్రారంభకులు
                                </h>
                                <h2 class="heading-2 selectable" contenteditable="true" data-options="editOptions">
                                    <span>శ్రీ</span> ఇనుమర్తి రామకృష్ణారావు <span>గారు</span>
                                </h2>
                                <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                    మాజీ ప్రెసిడెంట్ : రోటరీ క్లబ్ ఆప్ రాజమండ్రి రివర్ సిటీ</p>
                        </div>

                        <div class="guestCard">
                            <h4 class="paraWithBg selectable" contenteditable="true" data-options="editOptions">4వ
                                ఫ్లోర్
                                ప్రారంభకులు
                            </h4>
                            <h2 class="heading-2 selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీ</span> వి.భాస్కర్ రామ్ <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                ఛార్టర్డ్ అకౌంటెంట్, రాజమహేంద్రవరం</p>
                        </div>

                        <div class="guestCard">
                            <h4 class="paraWithBg selectable" contenteditable="true" data-options="editOptions">కాష్
                                కౌంటర్
                                ప్రారంభకులు
                            </h4>
                            <h2 class="heading-2 selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీ</span> బి.వెంకటసుబ్బారావు <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                చైర్మన్ ఏ.పి. ఫెడరేషన్ అఫ్ ఛాంబర్ అఫ్ కామర్స్ & ఇండస్ట్రీ తూ. గో. జిల్లా</p>
                        </div>
                    </div>

                    <div class="show-in-row">
                        <div class="guestCard fullWidth">
                            <div class="imgHolder leftVector selectable">
                                <img id="bokey-1" src="../../assets/images/flower-bokey.png" alt="" />
                                <input name="bokey1" type="file" accept="image/*"
                                    onchange="document.getElementById('bokey-1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="spl-heading withBg selectable" contenteditable="true" data-options="editOptions">
                                ముఖ్య అతిధులు:
                            </h1>
                            <div class="imgHolder rightVector selectable">
                                <img id="bokey-2" src="../../assets/images/flower-bokey.png" alt="" />
                                <input name="bokey2" type="file" accept="image/*"
                                    onchange="document.getElementById('bokey-2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>

                    <div class="show-in-row moreWishers">
                        <div class="guestCard">
                            <h2 class="heading-2 stroked-light selectable" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> పంతం కొండలరావు <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                సి.సి.సి. మేనేజింగ్ డైరెక్టర్, రాజమహేంద్రవరం</p>
                        </div>

                        <div class="guestCard">
                            <h2 class="heading-2 stroked-light selectable" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> వర్రే శ్రీనివాసరావు <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                మాజీ కార్పొరేటర్, రాజమహేంద్రవరం</p>
                        </div>

                        <div class="guestCard">
                            <h2 class="heading-2 stroked-light selectable" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> బుడ్డిగ శ్రీనివాసు <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                గౌరవ చైర్మన్, క్రెడాయ్, రాజమహేంద్రవరం</p>
                        </div>

                        <div class="guestCard">
                            <h2 class="heading-2 stroked-light selectable" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> అత్తి సత్యనారాయణ <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                అమశ్రీ సినిమాస్, రాజమహేంద్రవరం</p>
                        </div>

                        <div class="guestCard">
                            <h2 class="heading-2 stroked-light selectable" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> జక్కంపూడి విజయగణేశ మోహన్ <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                యూత్ లీడర్, రాజమహేంద్రవరం</p>
                        </div>

                        <div class="guestCard">
                            <h2 class="heading-2 stroked-light selectable" contenteditable="true"
                                data-options="editOptions">
                                <span>శ్రీ</span> గెడ్డం వెంకటరమణ <span>గారు</span>
                            </h2>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                ట్రేడ్ యూనియన్ లీడర్, రాజమహేంద్రవరం</p>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer" class="footerRow">
                    <div class="show-in-row">
                        <div class="imgHolder leftVector selectable">
                            <img id="tree-1" src="../../assets/images/bananaa-tree.png" alt="" />
                            <input name="tree1" type="file" accept="image/*"
                                onchange="document.getElementById('tree-1').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="guestCard">
                            <div class="imgHolder mask selectable">
                                <img id="footer-guest-1" src="../../assets/images/man-photo-5.png" alt="" />
                                <input name="footer-guest1" type="file" accept="image/*"
                                    onchange="document.getElementById('footer-guest-1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h3 class="wishedBy selectable" contenteditable="true" data-options="editOptions">కొత్తపేట
                                రాజా</h3>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                సెల్ : 98669 93132</p>
                        </div>

                        <div class="guestCard">
                            <div class="imgHolder mask selectable">
                                <img id="footer-guest-2" src="../../assets/images/man-photo-1.png" alt="" />
                                <input name="footer-guest2" type="file" accept="image/*"
                                    onchange="document.getElementById('footer-guest-2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h3 class="wishedBy selectable" contenteditable="true" data-options="editOptions">బళ్ళా
                                వరప్రసాద్</h3>
                            <p class="stroked-light selectable" contenteditable="true" data-options="editOptions">
                                సెల్ : 90005 56699</p>
                        </div>

                        <div class="imgHolder rightVector selectable">
                            <img id="tree-2" src="../../assets/images/bananaa-tree.png" alt="" />
                            <input name="tree2" type="file" accept="image/*"
                                onchange="document.getElementById('tree-2').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>

                    <div class="show-in-row welcome-row">
                        <div class="imgHolder leftVector selectable">
                            <img id="namaste-1" src="../../assets/images/namaste-vector.jpg" alt="" />
                            <input name="namaste1" type="file" accept="image/*"
                                onchange="document.getElementById('namaste-1').src = window.URL.createObjectURL(this.files[0])" />
                        </div>

                        <div class="matContent">
                            <h2 class="heading selectable" contenteditable="true" data-options="editOptions">మా నూతన
                                బ్రాంచ్ ప్రారంభోత్సవానికి <br /> అందరికీ ఇదే మా హృదయపూర్వక ఆహ్వానం</h2>
                        </div>

                        <div class="imgHolder rightVector selectable">
                            <img id="namaste-2" src="../../assets/images/namaste-vector.jpg" alt="" />
                            <input name="namaste2" type="file" accept="image/*"
                                onchange="document.getElementById('namaste-2').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                    <p class="address selectable" contenteditable="true" data-options="editOptions">డో. నెం: 46-18-10.
                        వై . ఎస్. ఆర్. - జక్కంపూడి బ్లడ్ బ్యాంక్ పైన, బొమ్మిరెడ్డి శ్రీనివాస్ హాస్పిటల్ ఎదురుగా,
                        దానవాయిపేట, రాజమహేంద్రవరం.</p>
                    <p class="contact selectable" contenteditable="true" data-options="editOptions">సెల్: 98482 41555,
                        96667 98444</p>
                </div>
            </div>
        </div>
    </body>

</html>