<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Retirement Template-1</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Birthday Template Start -->
            <div class="template-wrapper" id="birthday-temp-2"
                style="background-image: url(../assets/images/back-bg-3.jpg);">
                <!-- Template Header -->
                <div id="temp-header" class="birthday-temp-header-thumbs">
                    <h1>Retirement Template</h1>
                    <div id="birthday-title" class="selectable" contenteditable="true" data-options="editOptions">
                        <h1>జన్మదిన శుభాకాంక్షలు</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="birthday-main-photo mask">
                        <img id="main-photo" src="../assets/images/birthday-main-1.png" alt="" class="selectable">
                        <input name="photo" type="file" accept="image/*"
                            onchange="document.getElementById('main-photo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <p class="wishes selectable" contenteditable="true" data-options="editOptions">జనసేన పార్టీ రాష్ట్ర
                        కార్యదర్శి, నిస్వార్థ ప్రజా సేవకులు, యంగ్ &
                        డైనమిక్
                        లీడర్, మా సోదరులు</p>
                    <h1 class="wisher special selectable" contenteditable="true" data-options="editOptions">
                        <span>శ్రీ</span> చాగంటి మురళీ కృష్ణ (చిన్న)
                        <span>గారికి</span>
                    </h1>
                    <p class=" wishes selectable" contenteditable="true" data-options="editOptions">ఇవే మా హార్దిక
                        <b>జన్మదిన శుభాకాంక్షలు</b>
                    </p>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="birthday-footer-photo mask">
                        <img id="promotor-photo" src="../assets/images/namaste-dummy.png" alt="" class="selectable">
                        <input name="photo" type="file" accept="image/*"
                            onchange="document.getElementById('promotor-photo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>

                    <h1 class="who-wished selectable" contenteditable="true" data-options="editOptions">పోలిశెట్టి
                        శ్రీనివాస్</h1>
                    <p class="recognition selectable" contenteditable="true" data-options="editOptions">జనసేన నాయకులు,
                        నరసాపురం</p>
                </div>
            </div>
            <!-- Birthday Template End -->

        </div>
    </body>

</html>