<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admission Template-1</title>

        <link rel="stylesheet" href="/assets/css/admission-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Admissions Template Start -->
            <div class="template-wrapper" id="admission-template-1" style="background-color: #f6d9d5;">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="row-photo-frame" id="row-head-frame">
                        <div class="imgHolder">
                            <img id="logo-1" src="../../assets/images/sri-chaitanya-logo.jpg" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('logo-1').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                    <h3 class="adminHeading-3 selectable" contenteditable="true" data-options="editOptions">CBSE, IGCSE
                        <span>(Day &
                            Resi)</span> NURSERY <span>TO</span> CLASS IX
                    </h3>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="splitRow">
                        <div class="titleOffers">
                            <h1 class="adminHeading-1 selectable" contenteditable="true" data-options="editOptions">The
                                Gateway to World-class Education</h1>
                            <div class="imgTitle">
                                <div class="imgHolder">
                                    <img id="logo-2" src="../../assets/images/infinity.jpg" alt="" />
                                    <input name="logo2" type="file" accept="image/*"
                                        onchange="document.getElementById('logo-2').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h1 class="adminHeading-1 selectable" contenteditable="true" data-options="editOptions">
                                    @ Khammam</h1>
                            </div>
                            <div class="imgHolder">
                                <img id="offer" src="../../assets/images/admissions.jpg" alt="" class="imgOffer" />
                                <input name="offer" type="file" accept="image/*"
                                    onchange="document.getElementById('offer').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>

                        <div class="listGrp">
                            <div class="imgHolder">
                                <img id="list-main" src="../../assets/images/adv-brainology.jpg" alt="" />
                                <input name="list" type="file" accept="image/*"
                                    onchange="document.getElementById('list-main').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <ul>
                                <li>
                                    <div class="imgHolder">
                                        <img id="ico-1" src="../../assets/images/success_icon.png" alt="" />
                                        <input name="list" type="file" accept="image/*"
                                            onchange="document.getElementById('ico-1').src = window.URL.createObjectURL(this.files[0])" />
                                    </div>
                                    <span class="selectable" contenteditable="true" data-options="editOptions">Financial
                                        Literacy</span>
                                </li>
                                <li>
                                    <div class="imgHolder">
                                        <img id="ico-2" src="../../assets/images/success_icon.png" alt="" />
                                        <input name="list" type="file" accept="image/*"
                                            onchange="document.getElementById('ico-2').src = window.URL.createObjectURL(this.files[0])" />
                                    </div>
                                    <span class="selectable" contenteditable="true" data-options="editOptions">Robotics
                                        & Coding</span>
                                </li>
                                <li>
                                    <div class="imgHolder">
                                        <img id="ico-3" src="../../assets/images/success_icon.png" alt="" />
                                        <input name="list" type="file" accept="image/*"
                                            onchange="document.getElementById('ico-3').src = window.URL.createObjectURL(this.files[0])" />
                                    </div>
                                    <span class="selectable" contenteditable="true"
                                        data-options="editOptions">Entrepreneurship</span>
                                </li>
                                <li>
                                    <div class="imgHolder">
                                        <img id="ico-4" src="../../assets/images/success_icon.png" alt="" />
                                        <input name="list" type="file" accept="image/*"
                                            onchange="document.getElementById('ico-4').src = window.URL.createObjectURL(this.files[0])" />
                                    </div>
                                    <span class="selectable" contenteditable="true" data-options="editOptions">Photo
                                        Journalism</span>
                                </li>
                                <li>
                                    <div class="imgHolder">
                                        <img id="ico-5" src="../../assets/images/success_icon.png" alt="" />
                                        <input name="list" type="file" accept="image/*"
                                            onchange="document.getElementById('ico-5').src = window.URL.createObjectURL(this.files[0])" />
                                    </div>
                                    <span class="selectable" contenteditable="true" data-options="editOptions">Design
                                        Thinking</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer" class="fullWidthFooter">
                    <div class="imgHolder">
                        <img id="footer-theme" src="../../assets/images/chaitanya-campus.jpg" alt="" />
                        <input name="footer" type="file" accept="image/*"
                            onchange="document.getElementById('footer-theme').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <div class="footer-content">
                        <p class="selectable" contenteditable="true" data-options="editOptions">Near Eenadu office,
                            Rudramkota, Khammam. <i class="ico phone">&#128222;</i> 96030 77755, 96031 77755</p>
                    </div>
                </div>
            </div>
            <!-- Birthday Template End -->
        </div>
    </body>

</html>